.col-4 {
  display: inline-block;
  width: 33%;
}

.col-8 {
  display: inline-block;
  width: 66%;
}

.top {
  margin-top: 30px;
}

.search {
  margin-left: 40px;
}

.track__save {
  cursor: pointer;
  margin-left: 10px;
}
